<div>
    <h2 class="page-header">
        <%=book.title %>
    </h2>
</div>
<div>
    <img height="150" width="100" src="<%= book.coverImagePath %>">
</div>
<div>
    <h3>
        Author: <%= book.author.name %>
    </h3>
</div>
<div>
    <h3>
        PageCount: <%= book.pageCount %>
    </h3>
</div>
<div>
    <h3>
        Description: <%= book.description %>
    </h3>
</div>

<div>
    <h3>
        PublishDate: <%= book.publishDate.toDateString() %>
    </h3>
</div>

<div class="btn-row"><a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>

    <%- include('../partials/delete_form',{ url: `/books/${book.id}`}) %>

        <a class="btn btn-primary" href="/authors/<%= book.author.id %>">View Author</a>

</div>